
html, body, #root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  overflow-x: hidden;
  overflow-y: auto;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background: #f5f6fa;
}